html {
    scroll-behavior: smooth;
  }
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: rgb(255, 211, 0);
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #2dca98;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }


header{
    background-color: rgb(255, 211, 0) !important;
}

#head-flex {
    width: 100%;
    height: 100vh;
    background: url('../maxresdefault.jpg') top center;
    background-size: cover;
    position: relative;
  }
  
#head-flex:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
#head-flex .head-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
#head-flex h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
#head-flex h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
#head-flex .getStarted {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
#head-flex .getStarted:hover {
    background:rgb(255, 211, 0);
    border: 2px solid rgb(255, 211, 0);
  }




  #about {
    background: #fff;
    padding: 80px 0;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }

  #about .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
  }

  #about p {
    line-height: 26px;
    text-align: justify;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgb(255, 211, 0);
  }
  
  #about .about-container .icon-box .icon i {
    color:rgb(255, 211, 0);
    font-size: 24px;
  }
  
  #about .about-container .icon-box .title {
    /* margin-left: 80px; */
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
  }

  .swimmingPool{
    width: 100%;
    /* height: 100vh; */
    background: url('../images/about/swimming.png') top center;
    background-size: cover;
    position: relative;
  }

  .short-content {
    margin-top: 50px;
  }

  .short-content .description{
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
    color: white;
  }

  .wtp{
    width: 100%;
    /* height: 100vh; */
    background: url('../images/about/wtp.png') top center;
    background-size: cover;
    position: relative;   
  }

.bg-black{
    background-color: black;
}

#product{
    margin-top: -80px;
}

#product .title{
    color: #333;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

#product #product-wrapper {
    padding-right: 15px;
  }


  #product .product-item {
    position: relative;
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  #product .product-item a {
    display: block;
    margin-right: 15px;
  }
  
  #product .product-item img {
    position: relative;
    top: 0;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #product .product-item .details {
    height: 50px;
    background: black;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -50px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #product .product-item .details h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 0 2px 8px;
    margin: 0;
  }
  
  #product .product-item .details span {
    display: block;
    color: #fff;
    font-size: 13px;
    padding-left: 8px;
  }
  
  #product .product-item:hover .details {
    bottom: 0;
  }
  
  #product .product-item:hover img {
    top: -30px;
  }


  .alum-bridge{
      background: url('../images/products/alum_bridge.jpg') center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .alum-bridge-2{
    background: url('../images/products/alum\ Bridge.JPG') center;
    background-size: cover;
    background-repeat: no-repeat;
}

  .flow-controller{
    background: url('../images/products/flow\ controller.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flow-indicator{
    background: url('../images/products/flow\ indicator.JPG') center;
    background-size: contain;
    background-repeat: no-repeat;
}

.level-indicator{
    background: url('../images/products/level\ indicator.JPG') center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rate-setter{
    background: url('../images/products/rate\ setter.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-1{
    background: url('../images/products/1.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.img-2{
    background: url('../images/products/2.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-3{
    background: url('../images/products/3.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-4{
    background: url('../images/products/4.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-5{
    background: url('../images/products/5.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-6{
    background: url('../images/products/6.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-7{
    background: url('../images/products/7.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-8{
    background: url('../images/products/8.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-9{
    background: url('../images/products/9.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-10{
    background: url('../images/products/10.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-11{
    background: url('../images/products/11.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-12{
    background: url('../images/products/12.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-13{
    background: url('../images/products/13.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-14{
    background: url('../images/products/14.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-15{
    background: url('../images/products/15.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}


.bg-grey{
    background-color: #f7f7f7;
    padding-bottom: 50px;
}

#contact {
    background: black;
    padding: 80px 0 40px 0;
  }
  
  #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: rgb(255, 211, 0);
    float: left;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
    color: rgb(255, 211, 0);
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .social-links {
    padding-bottom: 20px;
  }
  
  #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #contact .social-links a:hover {
    background: rgb(255, 211, 0);
    color: #fff;
  }
  
.section-title{
    text-align: center;
    padding-bottom: 50px;
    font-size: 6vh;
    color: rgb(255, 211, 0);
}







.back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background:rgb(255, 211, 0);
    color: #fff;
  }


  #map{
      width: 100%;
      height: 380px;
  }




 .productsToggleBtn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid black;
    color: black;
  }
  
.productsToggleBtn:hover {
    background:rgb(255, 211, 0);
    border: 2px solid rgb(255, 211, 0);
  }



  #product #product-wrapper {
    padding-right: 15px;
  }
  
  #product #product-flters {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
  }
  
  #product #product-flters li {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  #product #product-flters li:hover,
  #product #product-flters li.filter-active {
    background: rgb(255, 211, 0);
    color: #fff;
  }